#main-div{
    display: flex;
    justify-content: space-around;
}

#signup-div{
    background-color: #f5f9fc;
    width: 50%;
    position: relative;
    left: 110px;
    height: 750px;
}

#english-dropdown{
    position: relative;
    left: 260px;
    font-size: 15px;
}

#start-text{
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    position: relative;
    left: 80px;
}

#heading-signup{
    font-weight: bold;
    color: #2558ab;
    display: flex;
    position: relative;
    left: 80px;
}

#not-member{
    display: flex;
    position: relative;
    bottom: 15px;
    right: 15px;
    position: relative;
    left: 80px;
}

#login-tag{
    text-decoration: none;
    color: #2558ab;
    font-weight: bold;
}

.name{
    display: flex;
    position: relative;
    left: 85px;
}
#first-name{
    display: flex;
    justify-content: flex-start;
}
#last-name{
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 235px;
}

#last-name-input{
    position: relative;
    left: 25px;
}

#first-name-input{
    position: relative;
    right: 4px;
}

input{
    height: 30px;
    width: 35%;
    border: 2px solid lightgray;
}
.name-inputs{
    display: flex;
    position: relative;
    top: 8px;
    left: 85px;
}

.email-text{
    display: flex;
    position: relative;
    left: 85px;
    top: 5px;
}
#phone-text{
    position: relative;
    left: 270px;
}

.email-input{
    display: flex;
    position: relative;
    left: 85px;
    top: 12px;
}

#phone-input{
    position: relative;
    left: 30px;
}

.password{
    display: flex;
    position: relative;
    left: 85px;
    top: 4px;
}

#confirm-pass{
    position: relative;
    left: 245px;
}

.password-inputs{
    display: flex;
    position: relative;
    left: 85px;
    top: 12px;
}

#confirm-pass-input{
    position: relative;
    left: 30px;
}

#create-acc-btn{
    color: white;
    background-color: #2558ab;
    width: 70%;
    height: 5%;
    font-size: 16px;
    border: none;
    position: relative;
    right: 25px;
    cursor: pointer;
    border-radius: 3px;
}

#footer-para{
    color: gray;
    position: relative;
    right: 140px;
    font-size: 14px;
}

.blue-text{
    color: #2558ab;
    position: relative;
}

#google-login{
    background-color: white ;
    width: 70%;
    height: 7%;
    font-size: 16px;
    border: 1px solid lightgray;
    position: relative;
    right: 25px;
    cursor: pointer;   
    position: relative;
    top: 10px;
    border-radius: 3px;
}

#login-text{
    position: relative;
    bottom: 10px;
    left: 10px;
}


#gullah-heading{
    color: #2558ab;
    font-weight: bold;
    display: flex;
}

#lorem-para{
    color: gray;
    font-size: 15px;
    position: relative;
    bottom: 10px;
    display: flex;
}

#side-img{
    height: 550px;
    position: relative;
    left: 20px;
}

#copyright-text{
    color: gray;
    font-size: 14px;
}